.articles{
  padding: 80px 0;
  background-color: #fff;
}

.articles__inner{

}

.articles__title{
  margin: 0 0 40px 0;
  padding: 0;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
}

.articles__list{
  display: flex;
  gap: 30px;

}

.articles__item{
  width: 255px;
}
.articles__img{
  width: 255px;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}
.articles__item-block{
  margin-top: 25px;
  padding: 0 24px;
}


.articles__item-span{
  display: block;
  font-family: 'Public Sans';
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: #9597A5;
  margin-bottom: 8px;
}

.articles__item-link{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  letter-spacing: -0.285714px;
  color: #2D314D;
  &:hover{
    color: #30C88F;
  }
}

.articles__item-text{
  font-family: 'Public Sans';
  font-size: 13px;
  line-height: 18px;
  /* or 138% */
  letter-spacing: -0.203125px;
  color: #9597A5;
  margin: 8px 0 0 0;
  padding: 0;

}


@media only screen and (max-width:426px) {

  .articles{
    padding: 88px 0;

  }

  .articles__inner{
    width: 100%;

  }

  .articles__title{
    margin: 0 0 31px 0;
    text-align: center;
    font-size: 32px;
    line-height: 38px;

  }


  .articles__list{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;



  }

  .articles__item{
    width: 100%;
  }

  .articles__img{
    width: 100%;

  }


}